.card-inverse-info {
    background: rgba(61, 165, 244, 0.2);
    border: 1px solid #3898e0;
    color: #2e7db9
}

.context-menu-list {
    box-shadow: none;
    border: 1px solid #f3f3f3
}

.context-menu-list {
    position: absolute;
    display: inline-block;
    min-width: 13em;
    max-width: 26em;
    padding: .25em 0;
    margin: .3em;
    font-family: inherit;
    font-size: inherit;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: .2em;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5)
}

.context-menu-item {
    position: relative;
    padding: 0.5em 6em;
    color: #2f2f2f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff
}

.context-menu-list .context-menu-item.context-menu-hover {
    background-color: #4287f5;
    color: #fff
}

.context-menu-separator {
    padding: 0;
    margin: .35em 0;
    border-bottom: 1px solid #e6e6e6
}