
#menu_item_right {
    float: right;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
    height: 70px;
}

#menu_item_right #menu_btn_logout {
    font-family: 'roboto_regular';
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}

#menu_item_right #menu_btn_logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

#menu_item_right #menu_btn_notification {
    width: 48px;
    height: 52px;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
}

#menu_item_right #menu_btn_notification:hover {
    cursor: pointer;
    background: hsla(0, 0%, 100%, .1);

}

#menu_item_right #menu_btn_notification .total_message {
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
    position: absolute;
    border-radius: 50%;
    top: -2px;
    right: -2px;
    padding: 5px;
    color: white;
    background-color: red;
    font-size: 10px;
}

#menu_item_right #menu_btn_notification .total_message.no_message {
    display: none;
}

#menu_item_right #menu_btn_notification .icon {
    width: 44px;
    height: 48px;

    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#menu_item_right #menu_btn_notification .icon img {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    content: url('../images/ic_notification_empty.png');

}

#menu_item_right #menu_btn_notification .icon img.active {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    content: url('../images/ic_notifications.png');
}

#menu_alias_user {
    font-family: 'roboto_regular';
    font-size: 21px;
    margin-right: 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}

#menu_item_right .avatar {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-right: 5px;
    border-radius: 50%;
    content: url('../images/ic_avatar.jpg');
}



