@font-face {
    font-family : 'roboto_bold';
    src : url('../fonts/roboto_bold.ttf');
}

.login_dialog{

      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
       padding-top : 150px;
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#login_dialog_content{
     background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 30%;
      padding : 5px;
      border-radius:10px;
}
#login_dialog_content .lbl_username{
    margin-top:15px;
}
#login_dialog_content .lbl_username,.lbl_password{
     font-family : 'roboto_bold';
     margin-left : 15px;
}
#login_dialog_content .lbl_username_typing,.lbl_password_typing{
     margin-left : 15px;
     margin-top : 10px;
     height:48px;
     width : 90%;
}
#login_dialog_content .btn_login{
    margin-top : 25px;
    margin-bottom : 25px;
    width : 70%;
    height : 56px;
    margin-left:15%;
    font-size:20px;
     font-family : 'roboto_bold';
}
#login_dialog_content .title {
     width : 100%;
     text-align : center;
     font-family : 'roboto_bold';
     font-size : 2.5em;
     color : #575F64;
     margin-top : 30px;
     margin-bottom : 30px;
}

