#detail_customer_dialog{
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
       padding-top : 70px;
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#detail_customer_dialog_content{
     background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 50%;
      padding : 5px;
      border-radius:10px;
}

#detail_customer_dialog .lbl_name{

    text-align : center;
    font-family : 'roboto_bold';
    font-size : 16px;
    width : 50%;
}

#detail_customer_dialog .value{
    width : 50%;
}
#detail_customer_dialog .customer_field_row td{
    padding-top: 15px;
}
#detail_customer_dialog .btn_ok{
    width : 90%;
    height:48px;
    margin-left:auto;
    margin-right:auto;
    margin-top : 15px;
    background-color : #1CC487;
}
#detail_customer_dialog .btn_cancel{
    width : 90%;
    height:48px;
    margin-left:auto;
    margin-right:auto;
    margin-top : 15px;
    background-color : #00B6DE;
}
#detail_customer_dialog .btn_ok:hover {
     background-color : #1CC487;
}
#detail_customer_dialog .btn_cancel:hover {
      background-color : #00B6DE;
}

#list_marketing_product .item {
    background-color: royalblue;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    font-family: 'roboto_regular';
    font-size: 18px;
    color: white;
    margin-right: 15px;
}

#list_marketing_product {
    overflow-x: auto;
    width: 50%;
    max-width: 50%;
    display: block;
    padding-top: 15px;
    float: right;
    margin-right: 5%;
}

#lbl_marketing_source{
    width: 45%;
    margin-top: 20px;
    text-align : center;
    font-family : 'roboto_bold';
    font-size : 16px;
}