#tbl_inventory_report{
  overflow-x:auto;
  border-collapse: collapse;
  margin : auto;
}

.sum_quantity_cell{
    background-color:#00ffff;
    color:black;
    font-size:16px;
}
#code_color_product .code_color_product_cell{
      text-decoration: underline;
}
#code_color_product {
    background-color:#fce5cd;
    color : blue;
    text-align : center;
    font-family : 'roboto_regular';

    font-size : 20px;
}
#code_color_product td{
      border: 1px solid black;

}

#size_product {
    background-color : yellow;
    color:black;
    text-align : center;
    font-family : 'roboto_bold';

}
#size_product td{
      border: 1px solid black;
}

#remaining_quantity_product{
    background-color : red;
    color:yellow;
    text-align : center;
    font-family : 'roboto_bold';
}

#remaining_quantity_product td{
      border: 1px solid black;
}

#total_remaining_quantity_product{
    background-color : #20124d;
    color:white;
    text-align : center;
    font-family : 'roboto_bold';
    font-size : 20px;
}

#total_remaining_quantity_product td{
      border: 1px solid black;
}

#importing_quantity_product{
    background-color : #cfe2f3;
    color:black;
    text-align : center;
    font-family : 'roboto_bold';
}

#importing_quantity_product td{
      border: 1px solid black;
}

#exporting_quantity_product{
    background-color : #cfe2f3;
    color:black;
    text-align : center;
    font-family : 'roboto_bold';
}

#exporting_quantity_product td{
      border: 1px solid black;
}

#returning_quantity_product{
    background-color : #cfe2f3;
    color:black;
    text-align : center;
    font-family : 'roboto_bold';
}

#returning_quantity_product td{
      border: 1px solid black;
}

#failed_quantity_product{
    background-color : #fff2cc;
    color:black;
    text-align : center;
    font-family : 'roboto_bold';
}

#failed_quantity_product td{
      border: 1px solid black;
}