.tbl_item .marketing_source_name{
    width : 30%;
}
.tbl_item .marketing_source_note{
     width : 70%;
}

.tbl .marketing_source_row_selected{
    background-color : #DDF4FF;
}

.tbl{
    margin-top : 15px;
}
#confirm_dialog_delete_marketing_source{
    display : none;
}
