.tbl{
    margin-top : 15px;
}

.tbl .marketing_code {
    width : 15%;

}
.tbl .marketing_product_code {
    width : 15%;

}
.tbl .marketing_product_created {
    width : 15%;
}

.tbl .marketing_product_source {
    width : 15%;
}
.tbl .marketing_product_price {
    width : 10%;
}
.tbl .marketing_product_bill_cost {
    width : 10%;
}
.tbl .marketing_product_cmt_cost {
    width : 10%;
}
.tbl .detail{
     width : 10%;
}
.tbl .show_detail_markting_product{
     color : #007bff;
}

.tbl .show_detail_markting_product:hover{
     cursor: pointer;
     text-decoration: underline;
}

#list_marketing_product_filter{
   overflow: auto; /* Enable scroll if needed */
    margin : 0 auto;
}

#list_marketing_product_filter .filter_start_time{
     width : 250px;
    text-align:center;

}
#list_marketing_product_filter .filter_end_time{
     width : 270px;
    text-align:center;

}
.tbl  .marketing_product_row_selected{
        background-color : #DDF4FF;
}
#list_marketing_product_filter .filter_by_marketing_product_state{
     width : 200px;
    text-align:center;
    margin-left:15px;
    margin-right:15px;

}
#list_marketing_product_filter #search_product_code{
    width : 200px;
    margin-left:15px;
    margin-right:15px;
}

#list_marketing_product_filter .btn_filter{
    width : 100px;
     font-family : 'roboto_bold';
    font-size : 16px;
    color : white;
    margin-left:15px;
    margin-right:15px;
}
